streamlit==1.39.0
numpy
pandas
Pillow
matplotlib
scikit-learn
opencv-python-headless
mediapipe==0.10.14
streamlit-authenticator

# AĞIR/OPSİYONEL — sadece gerçekten kullanıyorsan ekle
torch
torchvision
tensorflow-cpu
